@font-face {
    font-family: "Roboto";
    src: url('/static/css/fonts/font-family/Quicksand-Medium.ttf');
}

*{
    font-family: 'Roboto';
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body{
    background: url('/static/css/images/bg.jpg') no-repeat top center;
    background-size: cover;
}

div.register-container,
div.login{
    width: 30%;
    margin-top: 50px;
    border: 1px solid rgb(0,0,0);
    padding: 10px;
    background-color: #f2f2f294;
    border-radius: 10px;
    color: 	#800000;
}

div.heading{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

div.form-group{
    margin-bottom: 15px;
}

div.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

label.col-3{
    width: 30%;
    margin-left: 20px!important;
}

input.col-7{
    width: 50%;
    border-radius: 5px;
    border-color: cornsilk;
}

#submitBtn{
    text-align: center;
    margin-top: 30px;
}

p.wrong-login{
    text-align: center;
    color: red;
}